html,
body {
  background-color: #0581bb;
  background: linear-gradient(180deg, #0584bb 35%, #046795 100%);
  font-size: 17px;
  margin: 0%;
  height: 100%;
  width: 100%;
}
a:link { 
  color: #fefefe; text-decoration: none;
}
a:visited { 
  color: #fefefe; text-decoration: none;
}
a:hover { 
  color: #9BFDFF; text-decoration: underline;
}
.main-cover {
  background-color: #0581bb;
  background: linear-gradient(180deg, #0584bb 35%, #046795 100%);
  padding-bottom: 170px;
  box-sizing: border-box;
  text-align: center;
  color: #fefefe;
  /* padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top); */
  height: 100%;
  width: 100%;
}
nav {
  /* position: absolute !important; */
  margin: 10px;
  z-index: 9999;
  width: 100%;
  box-sizing: border-box;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  z-index: 9998;
}
aside {
  float: right;
  background-color: #F8F8F8;
  width: 300px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  color: #131017;
  
}

/* .logo-aTag {
  text-decoration: none;
} */
.logo-box {
  color: #fefefe;
  text-align: center;
  /* font-weight: bold; */
  font-size: 22px;
  padding-top: 10px;
  float: left;
}
.menu-box {
  font-size: 15px;
    font-weight: 500;
    border-radius: 11px 0px 0px 11px;
    background-color: #F8F8F8;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.title-box {
  font-size: 42px;
  line-height: 50px;
}
.select-box {
  display: flex;
  flex-wrap: wrap;
}
::selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}

.border-radius {
  border-radius: 12px;
}

.login-box {
  /* 상하좌우 정중앙 정렬하기 */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fefefe;
}